<button class="btn btn-lg btn-outline-primary" (click)="addProduct()">Bæta við</button>
<template ngbModalContainer></template>

<div *ngIf="seller" class="container">
    <h2>{{seller.name}}</h2>
    <p>{{seller.category}}</p>
    <img src="{{seller.imagePath}}" alt="Mynd af seljanda">
</div>

<!--<div class='Tabs'>
    <ngb-tabset #t="ngbTabset">
        <ngb-tab title='Products'>
            <template ngbTabContent>
                <app-all-products></app-all-products>
            </template>
        </ngb-tab>
        <ngb-tab>
            <template ngbTabTitle><b>Top Ten Products</b></template>
            <template ngbTabContent>
                <app-top-products></app-top-products>
      </template>
        </ngb-tab>
    </ngb-tabset>
</div>-->