<div *ngIf="seller" class="container">
    <h2>{{seller.name}}</h2>
    <p>{{seller.category}}</p>
    <img src="{{seller.imagePath}}" alt="Mynd af seljanda">
</div>

<div class='Tabs'>
    <ngb-tabset>
        <ngb-tab title='Products' (select)="hi(this)" (click)="hi(this)">
            <template ngbTabContent>
                <app-all-products></app-all-products>
      </template>
        </ngb-tab>
        <ngb-tab>
            <template ngbTabTitle><b>Top Ten Products</b></template>
            <template ngbTabContent>
                <app-top-products></app-top-products>
      </template>
        </ngb-tab>
    </ngb-tabset>
</div>