<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container" *ngIf="products">
    <div class="row">
        <div class="col-sm-2" *ngFor="let product of products">
            <h3>{{product.name}}</h3>
            <img src="{{product.imagePath}}" alt="Mynd af vöru" />
            <p>Verð: {{product.price}} Kr.</p>
            <button class="btn btn-lg btn-outline-primary" (click)="onEditProduct(product)">
                <i class="material-icons">edit </i>
                Breyta vöru
            </button>
        </div>
    </div>
</div>