<button class="btn btn-lg btn-outline-primary" (click)="addSeller()">Bæta við</button>
<template ngbModalContainer></template>


<div *ngIf="sellers" class="container">
    <table>
        <th>Nafn seljanda</th>
        <th>Flokkur</th>

        <tr *ngFor="let seller of sellers">
            <td> {{ seller.name }} </td>
            <td> {{ seller.category }} </td>
            <td><button class="btn btn-lg btn-outline-primary" (click)="onEdit(seller)">Breyta seljanda</button></td>

            <td><button class="btn btn-lg btn-outline-primary" (click)="goToDetails(seller.id)">Sjá nánari lýsingu</button></td>
        </tr>
    </table>
</div>

<div *ngIf="!sellers">
    <ngb-alert type="info"> Engir seljendur eru á skrá </ngb-alert>
</div>