<div class="AddBtn">
    <button class="btn btn-lg btn-success" (click)="addSeller()">Bæta við</button>
</div>
<template ngbModalContainer></template>


<div class="container">
    <table>
        <th>Nafn seljanda</th>
        <th>Flokkur</th>

        <tr *ngFor="let seller of sellers">
            <td> {{ seller.name }} </td>
            <td> {{ seller.category }} </td>
            <td><button class="btn btn-md btn-success" (click)="onEdit(seller)">Breyta seljanda</button></td>

            <td><button class="btn btn-md btn-primary" (click)="goToDetails(seller.id)">Sjá nánari lýsingu</button></td>
        </tr>
    </table>
</div>