<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{ 'HOME.SORTBY' | translate }}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" (click)="sortByPrice()">{{ 'HOME.PRICE' | translate }}</button>
                <button class="dropdown-item" (click)="sortByQuantitySold()">{{ 'HOME.TOPSELLER' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="products">
    <div class="row">
        <div class="col col-sm col-md col-lg col-xl" *ngFor="let product of products">
            <h3>{{product.name}}</h3>
            <img src="{{product.imagePath}}" alt="Mynd af vöru" />
            <p>{{product.price}}</p>
        </div>
    </div>
</div>